@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


/* ========== General ========== */
body, table, form, input, td, th, p, textarea, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* ========== Header ========== */
#header{
  z-index: 1000;
  height: 85px;
  background: #ffffff;
  position: relative;
  padding: 15px 15px 0;
}
#header .logo{
  display: inline-block;
  margin: 0;
}

#header .searchbox,
#header .login{
  display: inline-block;
  padding: 15px 15px 0;
  height: 60px;
  float: right;
}

#header .login a,
#header .login a:visited{
  position: relative;
  top: 0;
  color: #333;
  margin: 0;
}

#header .login a:hover{
  color: #ada074;
  text-decoration: none;
}

#jenkins-home-link {
  display: block;
  background-image: url(logo-cng-w.png) !important;
  background-size: 100%;
  width: 250px;
  height: 60px;
}

#jenkins-home-link > img{
  display: none;
}

#header .top-sticker{
  position: relative;
}


#breadcrumbBar{
  background-color: #333;
  color: #fff;
  border: none;
  margin-bottom: 15px;
  padding-left: 8px!important;
  height: 35px;
}

#breadcrumbs{
  background-color: #333;
  color: #fff;
  border: none !important;
  margin: 0;
  padding: 0;
}
